name: Test GITHUB_OUTPUT Windows

on:
  push:
    paths:
      - '.github/workflows/test-windows.yml'

jobs:
  prepare:
    name: Test

    runs-on: windows-latest

    steps:
      - id: step1
        run: |
          "test=Hello world" >> $env:GITHUB_OUTPUT

      - run: echo "${{ steps.step1.outputs.test }}"
